form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    margin-top: 1rem;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 0.5rem;
  }
  
  textarea {
    height: 6rem;
  }
  
  select {
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #0077cc;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #0077cc33;
  }
  
.addProduct{
    margin: 10%;
}