table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #ecf1ff;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #dddddd;
  }
  .admin{
    margin: 5%;
  }